.color {
  color: #f29766
}

.bordercolor {
  border-color: #f29766;
}

.btn-primary {
  background: #f29766
}

.loading {
  margin-left: -77px;
  margin-top: 3px;
}

th,
td,
tr {
  border-color: black;
  border: 1px solid black;
}

.tablecolor {
  background: #f29766
}

.background {
  background: #969aa5;
}

@media only screen and (max-width: 768px) {
  .mobile h2 {
    text-align: center;
  }

  .mobile {

    display: flex;
    justify-content: center;
    margin-top: 1rem !important;
  }

}
